<!DOCTYPE html>

<html lang="en" ng-app="smarttools">
<head>
    <meta charset="UTF-8">
    <title>E2Grems</title>

    {# Cargar tag de librería #}
    {% load bootstrap3 %}
    {# Cargar CSS y JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Cargar archivos estáticos#}
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">


    <!-- Resources -->
    <script type="text/javascript" language="javascript" src="{% static 'js/angular.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/angular-route.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/ng-table.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/math.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/aws-sdk-2.3.2.min.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'js/ui-bootstrap-tpls-1.3.2.min.js' %}"></script>

    <script src = "https://content.jwplatform.com/libraries/H7DFL3S2.js"> </script>
    <script> jwplayer.key = "ioYOYaIYDawyg6opYrYGNI+/b71cJtPJP1DpCQ==";</script>



    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!-- Logic -->
    <script type="text/javascript" language="javascript" src="{% static 'app/app.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/ng-image-compress.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'js/ctrl_session.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/registerController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/concursoController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/cargueController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/exampleController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/encuestaController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/dashboardController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/pruebaController.js' %}"></script>
    <script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/resultadoE2EController.js' %}"></script>
	<script type="text/javascript" language="javascript"
            src="{% static 'app/controllers/gremlinController.js' %}"></script>




</head>
<body>
<!-- Barra de navegación-->
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="ctrl_session">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#inicio"><i class="fa fa-optin-monster"></i> E2Grems</a>
        </div>
        <ul class="nav navbar-nav smarttools-left">
            <li class=""><a href="#inicio">Inicio</a></li>
            <li class=""><a href="#E2E">E2E</a></li>
            <li class=""><a href="#gremlins">Gremlins</a></li>
            <li><a class="" href="#dashboard" id="nav-products" >Mi Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav smarttools-right">
            <li class="" ng-show="!session.authenticated"><a href="/login_view" id="nav-login">Iniciar sesión</a></li>
            <li class="" ng-show="session.authenticated"><a id="btn-cerrar-sesion" ng-click="logout()">Cerrar sesión</a>
            </li>
            <li class=""><a href="#registro">Registrarse</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <!-- Content Views-->
    <div ng-view class="smarttools-encode-sans"></div>

    <footer>
        <h3 class="smarttools-logo"><i class="fa fa-thumbs-up"></i> E2Grems</h3>
        <p>Desarrollado por Cristian Huertas y Jorge Runza MISO2017</p>
        <div>
            <a><i class="fa fa-facebook-square fa-2x"></i></a>
            <a><i class="fa fa-twitter-square fa-2x"></i></a>
        </div>
    </footer>
</div>
</body>
</html>