<div id="smarttools-index-productos-container" class="container-fluid text-center smarttools-index-section">
    <div class="container">

        <div class="container text-center ">
            <h3>Pruebas Gremlins WebDriver.io</h3>
        </div>



    </div>

    <div class="container">


        <form>
            <div class="modal-body text-left">
                <div class="row">
                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="URL">URL SUT:</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="urlSut" placeholder="http://www.google.com.co" ng-model="gremlin.url" required>
                        <br>
                    </div>
                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="navegadores">Navegadores:</label>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" value="chrome"  name="explorador" ng-model="gremlin.chrome" checked>
                                <i class="fa fa-chrome" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" value="firefox" name="explorador"  ng-model="gremlin.firefox">
                                <i class="fa fa-firefox" aria-hidden="true"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-lg-1 col-lg-offset-4">
                        <label  for="largo">Largo:</label>

                    </div>
                    <div class="col-lg-4">
                        <input type="number" id="largo" name="largo" max="3999" min="100"  placeholder="Ej: 800" ng-model="gremlin.largo" ></input>
                    </div>

                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="ancho">Ancho:</label>

                    </div>
                    <div class="col-lg-4">
                        <input type="number" id="ancho" name="ancho"  max="3999" min="100" placeholder="Ej: 600" ng-model="gremlin.ancho"></input>
                    </div>

                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="modo">Modo :</label>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="headless" class="form-check-input" type="radio" value="headless" name="modo" ng-model="gremlin.headless" checked>
                                <i class="fa fa-terminal" aria-hidden="true"> Headless</i>
                            </label>
                            <label class="form-check-label">
                                <input id="noheadless" class="form-check-input" type="radio" value="no-headless" name="modo" ng-model="gremlin.noheadless">
                                <i class="fa fa-desktop" aria-hidden="true"> No-Headless</i>
                            </label>
                        </div>
                    </div>

                    <div class="col-lg-1 col-lg-offset-4">
                        <label  for="largo">Semilla:</label>

                    </div>
                    <div class="col-lg-4">
                        <input type="number" id="seed" name="seed" max="10000000" min="1"  placeholder="Ej: 1234" ng-model="gremlin.seed" ></input>
                    </div>

                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="ancho">Tiempo (Mins):</label>

                    </div>
                    <div class="col-lg-4">
                        <input type="number" id="tiempo" name="tiempo"  max="1440" min="1" placeholder="Ej: 1 " ng-model="gremlin.tiempo"></input>
                    </div>


                    <div class="col-lg-4 col-lg-offset-4" align="center">
                        <button class="btn btn-success"  ng-click="liberar()" id="liberar-gremlins" >
                            Ejecutar Pruebas
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
