<div id="smarttools-index-bienvenida-container" class="container-fluid text-center" uib-collapse="!B0">
    <div>
        <h1 class="smarttools-logo"><i class="fa fa-thumbs-up"></i> CX-COL</h1>
        <p>El portal ideal para mejorar la relación con tus clientes.</p>


        <button class="btn btn-success"  ng-click="setServicios(1);" href="#/inicio/S1">
            Quiénes somos
        </button>
        <button class="btn btn-success"  ng-click="setServicios(2);"  href="#/inicio/S2">
            Qué es NPS
        </button>
        <button class="btn btn-success"  ng-click="setServicios(3);" href="#/inicio/S3">
            Nuestra solución
        </button>
        <button class="btn btn-success"  ng-click="setServicios(4);" href="#/inicio/S4">
            Pruébanos
        </button>
        <button class="btn btn-success"  ng-click="setServicios(5);" href="#/inicio/S5">
            Ayúdanos a Mejorar
        </button>


    </div>
</div>





<div class="container text-center smarttools-index-section"  uib-collapse="B1" id="S1">
    <h2>Quiénes somos</h2>



    <div class="container">
        <table>

            <tr class="row">
                <td class="col-md-4">

                    <h3>Quiénes somos</h3></br>
                    <p align="justify">
                        Nosotros somos una startup Colombiana con un objetivo principal el cual es facilitar a empresas que proveen bienes y/o servicios el análisis de la experiencia de los clientes  o  “Customer Experience”  a lo largo  de la relación con la empresa.
                    </p></br>

                    <p align="justify">
                        <b>Nuestra visión</b> es ser la empresa colombiana número  uno en unir a nuestros aliados con sus clientes mejorando la experiencia de usuario  y potenciando su calidad de servicio.

                    </p>
                </td>

                <td class="col-md-4">
                    <h3>¿Cómo lo hacemos?</h3></br>

                    <p align="justify">
                        Integrando NPS (Net Promoter Score) y múltiples canales digitales, ponemos  al servicio de las empresas una plataforma totalmente online para gestionar las campañas de Customer Experience basadas en NPS desde principio a fin,  desde cualquier lugar y a cualquier hora tan solo con una conexión a internet. Toda la información maneja procesos automática y el cliente solo debe esperar a recibir sus datos analizados y tomar decisiones para mejorar y ofrecer un mejor servicio.
                    </p>
                </td>

            </tr>

        </table>

        <table align="center">
            <tr class="row">
                <h3> Te haz preguntado:</h3></br>
                <p align="center">
                    <b>¿Te gustaría conocer la opinión de tus clientes?</b></br></br>
                    Tus clientes son los que conocen más de tus productos y los aspectos a mejorar.</br></br>

                    <b>¿Te interesa la satisfacción de tus clientes?</b></br></br>
                    Con las opiniones de tus clientes puedes entender los puntos claves para potenciar tu negocio.</br></br>

                    <b>¿Transformamos esas opiniones en calidad?</b></br></br>
                    Con nuestra plataforma podrás tomar decisiones en tiempo real para transformar tus clientes detractores en promotores.</br></br>

                    <b>¿Eres una empresa cuyo objetivo es mantener a tus clientes tan satisfechos que quieran?</b></br></br>
                    Customer Experience más NPS podrás utilizar sus recomendaciones para entregar un mejor servicio.
                </p>
            </tr>

        </table>
    </div>

</div>

<div class="container text-center smarttools-index-section"  uib-collapse="B2" id="S2">
    <h2>Qué es NPS</h2>

    <div class="container">
        <table>

            <tr class="row">

                <p align="center">
                    Es más que una encuesta, es una herramienta muy simple que propone medir la lealtad de los clientes de una empresa basándose en las recomendaciones.
                    </br></br>
                    Se basa  en un simple pregunta para identificar la fidelidad de tus clientes frente a tus productos o servicios:
                </p></br>
                <p align="center">
                    <b> ¿Cuál es la probabilidad de que un cliente recomiende un producto o servicio a un familiar o amigo?</b>
                </p>


            </tr>

            <tr class="row">

                <h3> Esta identificación nos llevará a categorizar a tus clientes de las siguiente forma: </h3></br>


                <td class="col-md-7">
                    <img src="/static/img/promo.png" width="650" height="400" >
                </td>

                <td class="col-md-7">
                    <ul>
                        <li> <p align="left">Promotores activos: Recomendará tus productos o servicios a sus círculo social o familiar.</p></li>
                        <li><p align="left">Promotores pasivos: Puede que se mantengan o puede que se vayan a la competencia.</p></li>
                        <li><p align="left">Detractores: Clientes que muestran descontento, ellos probablemente no recomendarán a la empresa</p></li>
                    </ul>
                </td>

            </tr>



        </table>

        <table align="center">
            <tr class="row">
                <h3> Conocer tu indicador NPS</h3></br>
                La diferencia entre los promotores y detractores nos dará tu indicador NPS, el cual deberás analizar para encontrar en que puntos debes cambiar para mejorar y cuales necesitas continuar haciendo.
            </tr>

        </table>
    </div>

</div>

<div class="container text-center smarttools-index-section"  uib-collapse="B3" id="S3" >
    <h2>Nuestra solución</h2>

    <table>


        <tr class="row" >

            <h3>  Contiene los siguientes pasos: </h3></br>
            <p align="center">1. Registrar a tu empresa en la opción <b>Registrarse</b>, es totalmente gratuito.</p>
            <p align="center">2. Crear campaña desde la opción <b>Envío Encuestas</b>, en esta podras configurar las campaña y cargar la información de tus cliente.</p>
            <p align="center">3. Eligir el canal de comunicación, Según las necesidades de tu empresa puedes elegir los siguientes canales: </p>



        </tr>


    </table>
    </br>

    <table align="center">
        <tr class="row">
            <td class="col-md-7">
                <img src="/static/img/mail.png">
                <h3>Emails</h3>
            </td>
            <td class="col-md-7">
                <img src="/static/img/world.png" >
                <h3>Página web</h3>
            </td>
        </tr>

    </table>
    </br>

    <table align="center">
        <tr class="row">


            <p align="center">
                4.Consulta tus resultados: mediante la opción <b>Mi Dashboard</b> podras acceder a tus resultados de NPS en tiempo real.
            </p>



            <td>
                <img src="/static/img/Process.png">
                <p align="left">

                    </br>
                    Tendrás toda la información necesaria para hacer seguimiento a tus clientes y poder llevar a cabo la metodología NPS, adicional de poder consultar tu indicador de experiencia de usuario de manera clara y fácil de entender.
                </p>
            </td>




        </tr>

    </table>



    <table align="left">
        <tr class="row">
            <td class="col-md-3">
                <h3 align="left">¿Por qué elegirnos?</h3>
                <p align="left">
                    Con el proceso automatizado de analitica de texto, entendemos lo que dicen tus clientes y te ayudamos a resolver problemas recurrentes.
                </p>
                <img src="/static/img/text-min.png" width="1250" height="90%" >

            </td>

        </tr>

    </table>

    <table align="center">
        <tr class="row">
            <td class="col-md-7">
                <h3>Te acercamos con tus clientes de manera, simple y económico.</h3>
                <img src="/static/img/money.png">

            </td>

        </tr>

    </table>





</div>

<div id="smarttools-index-productos-container" class="container-fluid text-center smarttools-index-section" uib-collapse="B4" id="S4">
    <h2>Pruébanos</h2>

    <h3><p align="center">Crear una campaña de encuesta en CX-COL es muy sencillo, para esto sigue los siguientes pasos:</p></h3>

    <table align="center">
        <tr class="row">
            <td class="col-md-7">
                <h3>Primero da clic la opción de Registrarte en la parte superior e ingresa los datos de tu empresa y un empleado de contacto.</h3>
                <img src="/static/img/registro.png">
            </td>

        </tr>
    </table>

    <table align="center">
        <tr class="row">
            <td class="col-md-7">
                <h3>Ingresa tus credenciales y procede a la opción de Envió de encuestas, sube un archivo .csv con los datos de los clientes que quieras contactar.</h3>
                <img src="/static/img/subir.png">

            </td>

        </tr>
    </table>
    <table align="center">
        <tr class="row">
            <td class="col-md-7">
                <h3>A tus clientes les llegará un correo con un link a una encuesta que estará vinculada a tu cuenta.</h3>
                <img src="/static/img/encuestasa.png">

            </td>

        </tr>

    </table>


    <table align="center">
        <tr class="row">
            <td class="col-md-7">
                <h3>Finalmente verifica tu indicador de NPS en el dashboard y haz un seguimiento a tus clientes.</h3>
                <img src="/static/img/dashboard.png">

            </td>

        </tr>

    </table>

</div>


<div class="container text-center smarttools-index-section"  uib-collapse="B5" id="S5">
    <h2>Ayúdanos a Mejorar</h2>


    <h3><p align="center">Te invitamos a ayudarnos a mejorar y queremos hacerlo con una encuesta NPS enfocada a nuestros servicios, por favor da clic en el siguiente <a href="#/encuesta/cx">link </a> y danos tu mejor feedback.
    </p></h3>


    <h3><p align="center">Muchas gracias!</p></h3>


</div>

<div align="center" uib-collapse="B0">

    <button class="btn btn-success"  ng-click="setServicios(1);" href="#/inicio/S1">
        Quiénes somos
    </button>
    <button class="btn btn-success"  ng-click="setServicios(2);"  href="#/inicio/S2">
        Qué es NPS
    </button>
    <button class="btn btn-success"  ng-click="setServicios(3);" href="#/inicio/S3">
        Nuestra solución
    </button>
    <button class="btn btn-success"  ng-click="setServicios(4);" href="#/inicio/S4">
        Pruébanos
    </button>
    <button class="btn btn-success"  ng-click="setServicios(5);" href="#/inicio/S5">
        Ayúdanos a Mejorar
    </button>
</div>
