<div id="smarttools-index-productos-container" class="container-fluid text-center smarttools-index-section">
    <div class="container">
        <form>
            <div class="container text-center ">
                <h3>Pruebas E2E Nightwatch</h3>
            </div>
            <div class="modal-body text-left">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="input-group">
                            <input type="file" file-reader="fileContent" accept=".js"/>
                            <br>
                            <div class="col-lg-4 col-lg-offset-4">
                                <button class="btn btn-success"  ng-click="enviarEncuestas()" id="enviar-encuestas"
                                    data-toggle="tooltip" title="Se enviaran solo los registros correctos">
                                    Cargar Pruebas
                                </button>
                                <button class="btn btn-success"  ng-click="cargueClientes()" id="cargar-clientes" >
                                    Cargar
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="navegadores">Navegadores:</label>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-chrome" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-firefox" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-safari" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-opera" aria-hidden="true"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <form>
            <div class="container text-center ">
                <h3>Pruebas Gremlins</h3>
            </div>
            <div class="modal-body text-left">
                <div class="row">
                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="URL">URL SUT:</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="urlSut" placeholder="http://www.google.com.co" ng-model="urlSut">
                        <br>
                    </div>
                    <div class="col-lg-1 col-lg-offset-4">
                        <label for="navegadores">Navegadores:</label>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-chrome" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-firefox" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-internet-explorer" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-safari" aria-hidden="true"></i>
                            </label>
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                <i class="fa fa-opera" aria-hidden="true"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
