<div id="smarttools-index-productos-container" class="container-fluid text-center smarttools-index-section">
    <div class="container">
        <form>
            <div class="container text-center ">
                <h3>Resultados de la ejecución # [[ id ]]</h3>
            </div>
            <div class="modal-body text-left">
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-5">
                        <div class="loader" ng-show="!resultado"></div>
                    </div>
                </div>

                <div class="list-group">
                    <div ng-repeat="navegador in data">
                        <button type="button" class="list-group-item list-group-item-action" ng-click="visible(navegador.navegador)">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <h6><span class="badge badge-secondary">
                                            <i class="fa fa-[[navegador.icono]]" aria-hidden="true">&nbsp;[[ navegador.navegador ]]</i></span></h6>
                                        </div>
                                        <div class="col-lg-5">
                                            [[ navegador.start | date:'medium']]
                                        </div>
                                        <div class="col-lg-5">
                                            [[ navegador.end | date:'medium' ]]
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-4 list-group-item-danger">
                                            Fail: &nbsp; [[ navegador.state.failed ]]
                                        </div>
                                        <div class="col-lg-4 list-group-item-success">
                                            Pass: &nbsp; [[ navegador.state.passed ]]
                                        </div>
                                        <div class="col-lg-4 list-group-item-warning">
                                            Skip: &nbsp; [[ navegador.state.skipped ]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                        <div class="jumbotron" ng-show="navegador.visible">
                            <div class="row" ng-repeat="suite in navegador.suites">
                                <div class="bs-callout bs-callout-info" role="alert">
                                    <h4>[[suite.name]]</h4>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <h4>[[suite.start | date:'medium' ]]</h4>
                                        </div>
                                        <div class="col-lg-5">
                                            <h4>[[suite.end | date:'medium' ]]</h4>
                                        </div>
                                        <div class="col-lg-2">
                                            <h4>[[suite.duration | number]]&nbsp;Seg</h4>
                                        </div>
                                    </div>
                                    </h4>
                                    <div ng-class=" test.state == 'fail' ? 'alert alert-danger' : ( test.state == 'pass' ? 'alert alert-success' : 'alert alert-warning')" role="alert" ng-repeat="test in suite.tests">
                                        <h5>[[test.name]]&emsp;<span class="badge badge-secondary">[[test.state]]</span></h5>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                [[test.start | date:'medium' ]]
                                            </div>
                                            <div class="col-lg-5">
                                                [[test.end | date:'medium' ]]
                                            </div>
                                            <div class="col-lg-2">
                                                [[test.duration | number]]&nbsp;Seg
                                            </div>
                                        </div>
                                        <br>
                                        [[test.error]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>
