mongoengine
celery
django-celery
dj-database-url==0.4.0
Django==1.9.2
djangorestframework==3.3.2
gunicorn==19.4.5
psycopg2==2.6.1
wheel==0.24.0
whitenoise==2.0.6
django-bootstrap3==6.2.2
boto3==1.3.0
selenium==2.53.1
sendgrid-django==1.4.0
sendgrid==1.4.0
hash-ring==1.3.1
iron_cache
HireFire